[Unit]
Description=Log GPS location every 5 seconds
After=syslog.target

[Service]
ExecStart=/home/stgardner4/micromamba/envs/gpsd/bin/python3 gps_logger.py
WorkingDirectory=/home/stgardner4/breadcrumbs/
Restart=always
User=stgardner4
SyslogIdentifier=breadcrumb

[Install]
WantedBy=multi-user.target

